.prd-grid {
    float: left;
	position: relative;
	margin-bottom: 120px;
	width:100%;
}

body:not(.home) {
    background-repeat: no-repeat;
}
body.custom-background {
    background-color: #81d742;
    background-size: 100% 322px;
}
.product-block-gallery .flex-viewport {
    float: right;
    width: 75%;
}
.woocommerce-product-gallery__image {
    text-align: center;
}
.woocommerce-product-gallery__trigger {
    position: absolute;
    right: 17px;
    top: 5px;
    z-index: 999;
}
.product.custom-sale-style .row .onsale {
    left: 12% !important;
}
.flex-control-nav.flex-control-thumbs img {
    cursor: pointer;
}
.flex-control-nav.flex-control-thumbs {
    float: left;
    height: auto;
    overflow: auto;
    width: 20%;
	padding: 0;
}
#container .woocommerce-breadcrumb {
    background-color: #f5f5f5;
    border-radius: 0;
    color: #74828e;
    display: inline-block;
    margin: 0;
    padding: 18px 0;
    width: 100%;
}
#container .woocommerce-breadcrumb a {
    color: #74828e;
    margin: 0 5px;
    font-size: 14px;
    line-height: 28px;
}
#container .woocommerce-breadcrumb a:first-child {
    margin-left: 0;
}
body.custom-background.single-product  {
    background-color: #fff;
}
body.custom-background.archive.post-type-archive  {
    background-color: #fff;
}
.flex-control-nav.flex-control-thumbs > li:first-child {
    margin-top: 0;
}
.summary.entry-summary.col-md-6 {
    margin-top: 0;
}
.product_title.entry-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
}
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 10px;
}
.woocommerce-review-link {
    text-decoration: underline;
}
.woocommerce-review-link:hover {
    color:#000;
}
.woocommerce .star-rating span::before{
	color:#333;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #4b5b68;
    font-size: 24px;
    font-weight: 600;
}
.woocommerce div.product .stock {
    color: #000;
}


input.input-text.qty {
    -moz-appearance: textfield;
    border-color: #eeeeee;
    border-width: 0 1px;
    min-height: 46px;
}
.ui-spinner-button {
    background-color: #f7f7f7;
    display: block;
    height: 70px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
.ui-spinner-button.ui-spinner-up::before, .ui-spinner-button.ui-spinner-down::before {
    color: #808080;
    content: "+";
    cursor: pointer;
    display: block;
    line-height: 70px;
    text-align: center;
    transition: color 0.3s ease 0s;
    width: 30px;
	font-size: 21px;
}
.ui-spinner {
    display: block;
    padding: 0 30px;
    position: relative;
	height: 72px;
}
.ui-spinner-button.ui-spinner-down::before {
    content: "-";
	 font-size: 33px;
}
.ui-spinner-button.ui-spinner-down {
    left: 0;
    right: auto;
}

.input-text.qty.text.ui-spinner-input {
    border: 1px solid #eee;
    border-radius: 5px;
    height: 70px;
    margin: 1px 0;
    width: 57px;
}
.quantity {
    background: #f5f5f5 none repeat scroll 0 0;
	margin-right: 25px !important;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
    padding: 10px 20px;
}
.icon-shop-cart {
    padding-right: 14px;
    font-size: 17px;
    vertical-align: text-bottom;
    line-height: 22px !important;
    font-weight: 700 !important;
}
.header-cart .icon-shop-cart{
  margin-right: 0;
}
.woocommerce-product-details__short-description {
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    padding: 25px 0 5px;
    margin-bottom: 30px;
}
.up_cart{
    margin-top: 30px;
}
.woocommerce span.onsale{
  padding: 0px;
}
.wc-tabs > li > a::after {
    background: #6fbf52 none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    transform: scale(0);
    transition: all 0.2s ease 0s;
    width: 100%;
}
.wc-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    border: 0 solid #d3ced2;
    bottom: -1px;
    content: " ";
    height: 5px;
    position: absolute;
    width: 5px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background-color:transparent;
    border: 0px solid #d3ced2;
    border-radius: 4px 4px 0 0;
    display: inline-block;
    margin: 0 -5px;
    padding: 0 1em;
    position: relative;
    z-index: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	bottom: 0;
    height: 0px;
    width: 0px;
}
.tabs.wc-tabs
{
	padding:0 !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    margin: 0 20px;
    padding: 0;
}
.tabs.wc-tabs li.active a {
    color: #6fbf52  !important;
}
.tabs.wc-tabs li a {
    font-size: 24px;
    text-transform: capitalize;
}
.woocommerce-Tabs-panel.panel.entry-content.wc-tab {
    box-shadow: none;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    border: 0 solid #e4e1e3;
    border-radius: 4px;
    margin: 0;
    padding: 1em 0 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    border: 0 solid #e4e1e3;
}
.woocommerce .star-rating {
    float: left;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    color: #000;
    float: left;
    font-size: 1.3em;
    line-height: 30px;
	margin-left:1em;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text .description {
    float: left;
    width: 100%;
}
.woocommerce p.stars a {
    color: #ffb400 !important;
}
.star-5.active {
    color: #81d742 !important;
}
#commentform #comment:hover, #commentform #comment:focus, #commentform #comment.focus {
    border-color: #005395;
    box-shadow: none;
    outline: medium none;
}
.textarea-custom {
    -moz-appearance: none;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dbdbdb;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #2b2b2b;
    font-size: 18px;
    height: auto;
    line-height: 24px;
    margin-bottom: 4px;
    min-height: 193px;
    padding: 15px;
}
.textarea-custom:hover, .textarea-custom:focus, .textarea-custom.focus,.input-custom:hover, .input-custom:focus, .input-custom.focus{
    border-color: #005395 !important;
    box-shadow: none !important;
    outline: medium none !important;
}
.input-custom {
    -moz-appearance: none;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dbdbdb !important;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
    color: #2b2b2b;
    font-size: 18px;
    height: 54px !important;
    line-height: 24px;
    margin-bottom: 4px;
    padding: 15px !important;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    color: #515151;
}
.woocommerce-tabs.wc-tabs-wrapper {
    margin-bottom: 48px;
    margin-top: 48px;
}
.woocommerce .products .prd-info .star-rating ,.woocommerce .product .prd-info .star-rating{
    display: block;
    float: none;
    margin: 0 auto 20px;
}
.prd.product.type-product.status-publish {
    text-align: center;
}
.woocommerce-loop-product__title {
    margin-bottom: 15px !important;
}
.btn.btn-invert.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    margin-top: 20px;
}
.related.products .prd-grid:not(.prd-carousel) .prd{
	
	margin:8px;
}

.related.products .prd-grid:not(.prd-carousel){
	margin:0;
}
@media (min-width: 1199px){
.related.products .prd-grid:not(.prd-carousel) .prd:nth-child(3n+1) {
    clear: none;
}
}

.flex-direction-nav li::before {
    content: "\e91f";
}
.flex-direction-nav li:last-child:before {
  content: "\e920";
}
.flex-direction-nav li::before, .flex-direction-nav li::before {
    -moz-osx-font-smoothing: grayscale;
    color: #727272;
    cursor: pointer;
    font-family: "auto";
    font-size: 23px;
    line-height: 30px;
}
.flex-direction-nav li:first-child {
    left: -50px;
}
.flex-direction-nav li{
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 30px;
    line-height: 0;
    margin-top: -15px;
    outline: medium none;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30px;
    z-index: 200;
}
.flex-direction-nav li:last-child {
    right: -50px;
}
.archive .prd-grid {
	margin-bottom: 80px !important;
}
span.show-result {
    float: left;
    line-height: 35px;
    font-size: 16px;
}
.filters-row .form-inline select {
    font-size: 16px;
}
.header-cart-dropdown .prd-sm {
    display: block;
    margin-bottom: 26px;
    position: relative;
}
.filters-row .simple-pagination > span {
    float: left;
    line-height: 35px;
	font-size: 1.2em;
}
.filters-row .page-numbers {
    background: transparent none repeat scroll 0 0;
    color: #383838;
    float: left;
    padding: 0;
	border: 0 none;
}
.filters-row ul.page-numbers {
    float: left;
    margin: 0 !important;
    padding-left: 0;
	font-size: 1.2em;
}
.woocommerce-pagination .page-numbers .page-numbers.current {
    background: #6fbf52 none repeat scroll 0 0 !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 24px;
}
.woocommerce-pagination .page-numbers span.page-numbers, 
.woocommerce-pagination .page-numbers a.page-numbers {
    padding: 14px 20px !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.woocommerce-pagination .page-numbers > li {
    border: 0px solid #d3ced2 !important;
    margin: 10px !important;
}
.woocommerce-pagination ul.page-numbers {
    border:0px !important;
}
.woocommerce nav.woocommerce-pagination ul li a:focus{
    background: #252936  none repeat scroll 0 0;
    color: #8a7e88;
	border:1px solid #252936  !important;
}
.woocommerce nav.woocommerce-pagination ul li span.current, 
.woocommerce nav.woocommerce-pagination ul li a:hover {
    background: #6fbf52;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 24px;
}
.filters-row .page-numbers.current{
	color:#252936 !important;
}
.col-md-4.col-lg-3.column-left.column-filters {
    background: #f6f6f7;
}
body:not(.home) #pageContent {
    padding-top: 100px;
}
.woocommerce-breadcrumb > span {
    margin-left: 10px;
}
.title-aside {
    font-size: 24px;
}
.product-image-main-div .woocommerce-product-gallery{
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}
.prd-sm-img {
    float: left;
    min-width: 100px;
    width: 100px;
}
.attachment-shop_thumbnail.size-shop_thumbnail.wp-post-image {
    margin: 0;
    width: 100px;
}
.prd-sm-info span {
    color: #292929 !important;
	font-weight: normal;
}
.col-md-4.col-lg-3.column-left.column-filters.sidebar-div {
    padding: 0;
    margin-right: 15px;
    margin-left: -15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #c7c7c7;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #6fbf52;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #c0c0c0;
}
.coupon-custom.col-md-6 > label {
    text-align: left !important;
    width: 100%;
}
.column-filters .category-list li a {
    font-weight: 400;
}
.apply-coupon.btn.btn-invert {
    float: left;
    margin-top: 20px;
}

.woocommerce-Tabs-panel {
    padding-left: 20px !important;
}
ol.commentlist {
    padding-left: 0;
}
.header-cart {
    margin-top: 18px;
    cursor: pointer;
    position: relative;
    float: right;
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.header-cart .badge {
    pointer-events: none;
    width: 19px;
    height: 19px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    right: 1px;
    top: 0px;
    background-color: #f47629;
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 50%;
}
.header-cart a.icon {
    font-size: 32px;
    color: #252936;
    text-decoration: none;
}
.header-cart:hover a.icon, 
.header-cart.opened a.icon {
    color: #f47629;
}
header .header-cart-dropdown {
  position: absolute;
  z-index: 1;
  right: -20px;
  top: -5000px;
  width: 350px;
  padding: 35px 32px 25px;
  background: #fff;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  text-align: left;
}
@media (max-width: 479px) {
  header .header-cart-dropdown {
    width: 270px;
    padding: 15px 15px;
  }
}
header .header-cart-dropdown .header-cart-total {
  font-size: 24px;
  line-height: 30px;
  border-top: 1px solid #e8e8e8;
  padding: 20px 0;
  overflow: hidden;
}
header .header-cart.opened .header-cart-dropdown {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
  -moz-transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
  -ms-transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
  -o-transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
  opacity: 1;
  visibility: visible;
  top: 100%;
  z-index: 999999;
}
  header.page-header .header-row {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header .header-row{
	  overflow:visible;
  }
  #slide-nav #slidemenu {
    display: table;

    width: 100%;
}

.prd-sm-item {
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 100% !important;
}
.prd-info {
    padding: 0 15px;
    text-align: center;
}
.prd-sm-img {
margin-right: 10px;
}
.header-cart-dropdown .prd-sm-img {
    margin-right: 30px;
}
.prd-sm {
	display:block;
    position: relative;
}
.woocommerce-message .btn.btn-invert.wc-forward ,
.woocommerce-error .btn.btn-invert.wc-forward{
    float: right;
}
.woocommerce a.added_to_cart{
	display:none;
}
.btn.btn-lg .icon {
    font-size: 24px;
    padding-right: 12px;
}
.btn-lg.product-block-add-to-cart .icon-shop-cart {
    padding-right: 14px;
    font-size: 23px;
    vertical-align: text-bottom;
    line-height: 32px !important;
}
.loader-cart-delete {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.loader-cart-delete > img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.select2-container .select2-selection--single {
    height: 46px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 8px 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
    right: 5px;
}
.prd-info .btn [class*='icon-'] {
    font-size: 18px;
    padding-right: 14px;
    vertical-align: text-bottom;
}
@media (max-width: 767px) {
.prd-grid:not(.prd-carousel) {
    margin: -45px 0;
}
.input-text.qty.text.ui-spinner-input {
    min-width: auto;
}
.quantity {
    margin-right:0px !important;
}
.ui-spinner {
    display: inline-block;
}
.woocommerce table.shop_table_responsive tr, 
.woocommerce-page table.shop_table_responsive tr {
    display: block;
    margin-bottom: 30px;
}
.woocommerce table.shop_table_responsive tr td.actions  {
    text-align: center !important;
}
.apply-coupon.btn.btn-invert {
    float: none;
    margin-top: 20px;
}
}
.simple-pagination ul.page-numbers {
    margin: 0;
    padding: 0;
    list-style: none;
}
.simple-pagination ul.page-numbers li {
    display: inline-block;
    margin-top: 5px;
    padding: 0px 8px;
}
.woocommerce-page .category-list li a, 
.woocommerce-page .widget_categories li a {
    font-weight: 400;
    color: #677d8f;
}
input.input-text.qty {
    -moz-appearance: textfield;
    border-color: #eeeeee;
    border-width: 0 1px;
    min-height: 46px;
}
.input-text.qty.text.ui-spinner-input {
    border: 1px solid #eee;
    border-radius: 5px;
    height: 70px;
    margin: 1px 0;
    width: 57px;
}
.coupon-custom.col-md-6 > label {
    text-align: left !important;
    width: 100%;
}
input#coupon_code {
    width: 100%;
    padding: 10px 15px;
}
.woocommerce form .form-row input.input-text{
    padding: 10px;
}
.single-product .comment-form textarea {
    padding: 12px 0;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px 10px;
}
.prd-info h3 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 22px;
    text-transform: none;
    color: #000;
}
a:focus, a:hover {
    text-decoration: none;
}
.woocommerce .star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 10px;
    width: 5.4em;
    font-family: star;
}
.price del {
    font-size: 14px;
}
.woocommerce ul.product_list_widget li {
    padding: 10px 0;
    margin: 0;
    list-style: none;
}
/*-----  3.13 Shop page         --------*/
.column-filters {
    margin-bottom: 35px;
}
.column-filters-inside {
    border: 3px solid #f5f5f5;
}
.column-filters .side-block {
    padding: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #ebebeb;
}
.column-filters .side-block:last-child {
    border-bottom: 0;
}
.column-filters .side-block > h3 {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 1em;
    color: #252936;
}
.column-filters .category-list {
    margin-top: 20px;
}
.column-center {
    margin-bottom: 35px;
}
/*range slider*/
.noUi-horizontal {
    height: 6px;
}
.noUi-horizontal .noUi-handle {
    width: 15px;
    height: 15px;
    left: -7.5px;
    top: -5px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: #f47629;
    border-radius: 50%;
    cursor: pointer;
}
.noUi-target {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background-color: #c7c7c7;
    margin-bottom: 24px;
}
.noUi-origin {
    border-radius: 0;
    box-shadow: none;
}
.noUi-connect {
    background: #252936;
    border: 0;
    border-radius: 0;
    height: 6px;
    -webkit-transition: background 450ms;
    transition: background 450ms;
}
.noUi-handle:before,
.noUi-handle:after {
    display: none;
    border: 0;
    border-radius: 0;
    -webkit-transition: background 450ms;
    transition: background 450ms;
}
.range {
    margin-top: 35px;
}
.range p {
    color: #444444;
    font-size: 15px;
    line-height: 20px;
}
.prd-sm {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
}
.prd-sm:not(:last-child) {
    margin-bottom: 20px;
}
.prd-sm-img {
    min-width: 88px;
    width: 88px;
}
.prd-sm-delete {
    position: absolute;
    top: 6px;
    right: -4px;
    cursor: pointer;
    color: #444;
    font-size: 18px;
}
.prd-sm-delete:hover {
    opacity: .5;
}
.prd-sm-info {
    padding: 0 0 0 10px;
}
.prd-sm-info h3 {
    font-size: 15px;
    line-height: 22px;
    text-transform: none;
    font-weight: normal;
    color: #000;
}
.prd-sm-info h3 a {
    text-decoration: none;
}
.prd-sm-info h3 a:hover {
    text-decoration: none;
}
.prd-sm-info .price {
    font-size: 20px;
    margin-top: 15px;
}
.header-cart-dropdown .prd-sm-info {
    padding-right: 30px;
}
.prd-grid:not(.prd-carousel) {
    margin: -45px -15px 0;
}
.prd-grid.prd-carousel {
    margin: 15px 0 0;
}
.prd-grid.prd-carousel .slick-next:before {
    content: "\e91a";
    font-size: 47px;
}
.prd-grid.prd-carousel .slick-prev:before {
    content: "\e91b";
    font-size: 47px;
}
.prd-grid.prd-carousel .slick-dots {
    bottom: -40px;
}
.prd-carousel .slick-next {
    right: -70px;
}
.prd-carousel .slick-prev {
    left: -70px;
}
.prd-grid:not(.prd-carousel) .prd {
    width: calc(33.333% - 30px);
    float: left;
}
.prd {
    margin: 45px 15px 15px;
}
.prd-img img {
    width: 100%;
}
.prd-info h3 a {
    text-decoration: none;
}
.prd-info h3 a:hover {
    text-decoration: none;
    color: #f47629;
}
.prd-info .price {
    font-size: 26px;
    margin-top: 15px;
}
.prd-info .btn {
    min-width: 0;
    margin-top: 20px;
    height: 45px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    padding: 9px 18px 10px;
}
.prd-info .btn [class*='icon-'] {
    font-size: 18px;
    padding-right: 14px;
    vertical-align: text-bottom;
}
.prd .rating + .price {
    margin-top: 10px;
}
.rating i {
    font-size: 10px;
    padding: 0 1px;
    color: #f47629;
}
.rating-4 i:nth-child(5) {
    color: #c2c2c2;
}
.rating-3 i:nth-last-child(-n+2) {
    color: #c2c2c2;
}
.rating-2 i:nth-last-child(-n+3) {
    color: #c2c2c2;
}
.rating-1 i:nth-last-child(-n+4) {
    color: #c2c2c2;
}
.rating-0 i {
    color: #c2c2c2;
}
.rating-text {
    display: inline-block;
    vertical-align: baseline;
    padding-left: 15px;
    font-size: 14px;
}
h5 > .rating {
    margin-right: 15px;
}
@media (min-width: 1199px) {
    .prd-grid:not(.prd-carousel) .prd:nth-child(3n) {
        margin-right: 0;
    }
}
@media (max-width: 1199px) and (min-width: 480px) {
    .prd-grid:not(.prd-carousel) .prd {
        width: calc(50% - 30px);
    }
    .prd-grid:not(.prd-carousel) .prd:nth-child(2n) {
        margin-right: 0;
    }
    .prd-grid:not(.prd-carousel) .prd:nth-child(2n+1) {
        clear: left;
    }
}

.product-card img {
    width: 100%;
}
.btn.wc-forward {
    width: 100%;
    margin-top: 15px;
}
.filters-row {
    display: inline-block;
    width: 100%;
    padding: 25px 0;
}
.filters-row-left {
    float: left;
}
.filters-row-right {
    float: right;
    text-align: right;
}
.filters-row .form-inline {
    display: inline-block;
}
.filters-row .form-inline:not(:first-child) {
    margin-left: 3vw;
}
.woocommerce-checkout #payment div.form-row {
    padding: 1em;
    margin-bottom: 80px;
}
.filters-row .form-inline select {
    background-color: transparent;
    height: 35px;
    border-radius: 5px;
    border: 0;
    padding: 0 15px 0 15px;
    outline: none !important;
    color: #7c7c7c;
    border: 1px solid #ccc;
}
.filters-row .form-inline .select-wrapper:before {
    display: none;
}
.simple-pagination {
    display: inline-block;
    color: #444;
}
.simple-pagination span,
.simple-pagination a {
    display: inline-block;
    vertical-align: top;
    color: #444;
    padding: 2px 5px;
    text-decoration: none;
}
.simple-pagination a.active {
    color: #252936;
}
.product-block .rating i {
    font-size: 12px;
}
.product-block-info > *:not(:first-child):not(span) {
    margin-top: 21px;
}
.product-previews {
    float: left;
    width: 106px;
}
@media (max-width: 480px) {
    .product-previews {
        width: 80px;
    }
}
.product-previews img {
    width: 100%;
}
.product-previews-item {
    display: block;
    margin-bottom: 11px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.product-previews-item:hover {
    opacity: .7;
}
.product-block-gallery {
    margin-bottom: 30px;
    overflow: hidden;
}
.product-block-mainimage {
    float: right;
    width: calc(100% - 127px);
}
@media (max-width: 480px) {
    .product-block-mainimage {
        width: calc(100% - 100px);
    }
}
.product-block-mainimage img {
    width: 100%;
}
.product-block-title {
    font-size: 30px;
    line-height: 36px;
}
.product-block-price {
    font-size: 26px;
    line-height: 36px;
}
.product-block-price-comment {
    font-size: 14px;
    margin-top: 0 !important;
}
@media (max-width: 480px) {
    .btn.product-block-add-to-cart {
        width: 100%;
        margin-top: 30px;
    }
}
.product-block-description {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 12px 0px 25px;
}
.product-block-actions {
    margin-top: 40px !important;
}
.qty-count {
    height: 70px;
    background-color: #f5f5f5;
    display: inline-block;
    border-radius: 5px;
    margin-right: 25px;
}
.count-add,
.count-input,
.count-reduce {
    float: left;
    margin-right: -1px;
    position: relative;
    z-index: 0;
}
.count-add,
.count-reduce {
    height: 70px;
    width: 30px;
    text-align: center;
    line-height: 70px;
    color: #565656;
    font-size: 20px;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.count-add:hover,
.count-reduce:hover {
    color: #000;
    cursor: pointer;
}
.count-input {
    width: 57px;
    height: 70px;
    line-height: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: center;
}
.zoomWrapper {
    position: relative;
}
.zoomContainer {
    z-index: 100;
}
.zoomLens {
    border: 1px solid #b0b0b0 !important;
}
.zoomWindowContainer > * {
    border: 2px solid #b0b0b0 !important;
}
@media (max-width: 1199px) {
    .header-cart {
        padding-left: 5px;
    }
}
@media (max-width: 991px) {
    .header-cart {
        margin-top: 11px;
    }
}
@media (max-width: 767px) {
    .header-cart {
        margin-top: -8px;
        margin-right: 15px;
    }
}
.header-cart:hover a.icon,
.header-cart.opened a.icon {
    color: #f47629;
}
.header-cart:hover .badge,
.header-cart.opened .badge {
    background-color: #000;
}
.header-cart-dropdown {
    position: absolute;
    z-index: 100;
    right: -20px;
    top: -5000px;
    width: 350px;
    padding: 35px 32px 25px;
    background: #fff;
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    text-align: left;
}
@media (max-width: 479px) {
    .header-cart-dropdown {
        width: 270px;
        padding: 15px 15px;
    }
}
@media (min-width: 1199px){
.prd-grid:not(.prd-carousel) .prd:nth-child(3n+1) {
    clear: left;
}
}
.header-cart-dropdown .header-cart-total {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid #e8e8e8;
    padding: 20px 0;
    overflow: hidden;
}
.header-cart.opened .header-cart-dropdown {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
    -moz-transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
    -ms-transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
    -o-transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.quantity {
    height: 70px;
    background-color: #f5f5f5;
    display: inline-block;
    border-radius: 5px;
    margin-right: 25px;
}
.count-add, .count-reduce {
    height: 70px;
    width: 30px;
    text-align: center;
    line-height: 70px;
    color: #565656;
    font-size: 20px;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.count-add, .count-input, .count-reduce {
    float: left;
    margin-right: -1px;
    position: relative;
    z-index: 0;
}
.prd-grid:not(.prd-carousel) .prd {
    width: calc(33% - 30px);
    float: left;
}
ol.flex-control-nav.flex-control-thumbs li {
    margin: 5px 0px;
}
.related.products {
    float: left;
    margin-bottom: 120px;
    margin-top: 40px;
    width: 100%;
}
/* Woocommerce side block */

.column-filters .side-block {
    padding: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #ebebeb;
}
.column-filters .side-block > h3 {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 1em;
    color: #252936;
}
.woocommerce .product-categories{
    margin: 0 0 5px;
    padding: 0;
    list-style: none;
}
.woocommerce .product-categories > li {
    position: relative;
    font-size: 16px;
    line-height: 20px;
}
.woocommerce .product-categories > li:after {
    color: #6fbf52;
}
.woocommerce .product-categories > li:after {
    position: absolute;
    top: 9px;
    left: 20px;
    display: block;
    font-family: 'cleaning';
    content: "\e90a";
    font-size: 8px;
}
.woocommerce .product-categories {
    margin-left: -20px;
}
.woocommerce .product-categories > li a {
    display: block;
    padding: 8px 0 8px 36px;
    color: #252936;
    font-weight: 500;
}
.woocommerce .product-categories > li a:hover{
    color: #6fbf52;
}
.single-product.woocommerce .woocommerce-product-rating .star-rating {
    margin: 13px 15px 0px 0px !important;
}
.woocommerce ul.product_list_widget li { 
    padding: 10px 0; 
    margin: 0; 
    list-style: none; 
} 
.woocommerce .blockUI.blockOverlay::before, .woocommerce .loader::before { 
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0; 
} 
.woocommerce .woocommerce-product-rating .star-rating{ 
    margin: 1.5em 4px 0 0; 
} 
.woocommerce-review-link { 
    font-size: 14px; 
    text-decoration: none; 
} 
.woocommerce-review-link:hover { 
    text-decoration: underline; 
}
.comment-form .input-custom { 
    padding: 15px; 
} 


/*Fixing*/
.woocommerce-message .btn.wc-forward {
    max-width: 100%;
    margin-top: 0px;
    display: inline-block;
    width: auto;
}
body.post-type-archive-product #pageContent {
    padding-top: 50px !important;
}
body.single-product #pageContent {
     padding-top: 50px !important;
}
@media (max-width: 479px) {
.prd-grid {
    width: auto;
}
}
/*-----  4.2 Shop Pages          --------*/
.column-filters {
    margin-bottom: 35px;
}
.column-filters-inside {
    background: #f6f6f7;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.column-filters .side-block {
    border-color: #ebebeb;
    padding: 20px 20px 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e3e3e4;
}
.column-filters .side-block h3 {
    margin-bottom: 20px;
}
.column-filters .category-list {
    margin-top: 10px;
    margin-bottom: 15px;
}
.column-filters .category-list li a {
    font-weight: 400;
}
.column-filters .category-list li a:not(:hover) {
    color: #677d8f;
}
/*range slider*/
.noUi-horizontal {
    height: 6px;
}
.noUi-horizontal .noUi-handle {
    width: 15px;
    height: 15px;
    left: -7.5px;
    top: -5px;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #6fbf52;
    border-radius: 50%;
    cursor: pointer;
}
.noUi-target {
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #e4e4e5;
    margin-bottom: 24px;
}
.noUi-origin {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.noUi-connect {
    background: #c0c0c0;
    border: 0;
    border-radius: 0;
    height: 6px;
    -webkit-transition: background 450ms;
    -o-transition: background 450ms;
    transition: background 450ms;
}
.noUi-handle:before,
.noUi-handle:after {
    display: none;
    border: 0;
    border-radius: 0;
    -webkit-transition: background 450ms;
    -o-transition: background 450ms;
    transition: background 450ms;
}
.range {
    margin-top: 35px;
}
.range p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
}
.prd-sm {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.prd-sm:not(:last-child) {
    margin-bottom: 20px;
}
.prd-sm-img {
    width: 88px;
    min-width: 88px;
}
.prd-sm-delete {
    position: absolute;
    top: 0;
    right: -4px;
    cursor: pointer;
    font-size: 16px;
    color: #6fbf52;
}
.prd-sm-delete:hover {
    opacity: .5;
}
.prd-sm-info {
    padding: 0 15px;
}
.prd-sm-info h3 {
    font-size: 14px;
    line-height: 22px;
    text-transform: none;
    font-weight: 400;
    color: #4b5b68;
}
.prd-sm-info h3 a {
    text-decoration: none;
}
.prd-sm-info h3 a:hover {
    text-decoration: underline;
}
.prd-sm-info .price {
    font-size: 20px;
    margin-top: 10px;
    color: #4b5b68;
    font-weight: 600;
}
.header-cart-dropdown .prd-sm-info {
    padding-right: 30px;
}
.prd-grid:not(.prd-carousel) {
    margin: -25px -15px 0;
}
.prd-grid.prd-carousel {
    margin: -25px 0 0;
}
.prd-grid:not(.prd-carousel) .prd {
    width: calc(33.333% - 30px);
    float: left;
}
.prd {
    margin: 35px 15px 30px;
}
.prd-img img {
    width: 100%;
}
.prd-info {
    padding: 0 15px;
    text-align: center;
}
.prd-info h3 {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 24px;
    text-transform: none;
    color: #4b5b68;
    font-weight: 400;
}
.prd-info h3 a {
    text-decoration: none;
}
.prd-info h3:hover {
    text-decoration: underline;
}
.prd-info .price {
    font-size: 24px;
    margin-top: 13px;
    font-weight: 600;
}
.prd-info .btn {
    min-width: 0;
    margin-top: 27px;
    height: 41px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    padding: 12px 25px 15px;
}
.prd-info .btn [class*='icon-'] {
    font-size: 18px;
    color: #fff;
    padding-right: 8px;
    vertical-align: text-bottom;
}
.prd .rating + .price {
    margin-top: 10px;
}
.rating i {
    font-size: 12px;
    padding: 0 1px;
    color: #ffb400;
}
.rating-4 i:nth-child(5) {
    color: #c2c2c2;
}
.rating-3 i:nth-last-child(-n+2) {
    color: #c2c2c2;
}
.rating-2 i:nth-last-child(-n+3) {
    color: #c2c2c2;
}
.rating-1 i:nth-last-child(-n+4) {
    color: #c2c2c2;
}
.rating-0 i {
    color: #c2c2c2;
}
.rating-text {
    display: inline-block;
    vertical-align: baseline;
    padding-left: 15px;
    font-size: 14px;
}
h5 > .rating {
    margin-right: 15px;
}
@media (min-width: 1199px) {
    .prd-grid:not(.prd-carousel) .prd:nth-child(3n) {
        margin-right: 0;
    }
    .prd-grid:not(.prd-carousel) .prd:nth-child(3n+1) {
        clear: left;
    }
}
@media (max-width: 1199px) and (min-width: 480px) {
    .prd-grid:not(.prd-carousel) .prd {
        width: calc(50% - 30px);
    }
    .prd-grid:not(.prd-carousel) .prd:nth-child(2n) {
        margin-right: 0;
    }
    .prd-grid:not(.prd-carousel) .prd:nth-child(2n+1) {
        clear: left;
    }
    .prd-grid:not(.prd-carousel) {
    margin: -25px 0px 0;
}
}
@media (max-width: 479px) {
    .prd-grid {
        margin-right: 0;
        margin-left: 0;
    }
    .prd-info a.btn i {
        display: none;
    }
    .related.products {
    float: left;
    margin-bottom: 60px;
}
}
.product-card img {
    width: 100%;
}
@media (max-width: 360px) {
    .prd-grid:not(.prd-carousel) .prd {
    width: 100% !important;
    margin-right: 15px !important;
    margin-left: 0px !important;
    max-width: 290px;
}
}
.prd-carousel .slick-next {
    right: -50px;
}
.prd-carousel .slick-prev {
    left: -50px;
}
.filters-row {
    display: inline-block;
    width: 100%;
    padding: 25px 0;
    padding-top: 0;
    margin-top: -10px;
}
.filters-row-left {
    float: left;
}
.filters-row-right {
    float: right;
    text-align: right;
}
.filters-row .form-inline {
    display: inline-block;
}
.filters-row .form-inline:not(:first-child) {
    margin-left: 3vw;
}
.filters-row .form-inline select {
    min-width: 200px;
}
.woocommerce-page .category-list li, 
.woocommerce-page .widget_categories li {
    position: relative;
    margin-top: 0px;
}
@media (max-width: 479px) {
    .filters-row .form-inline {
        display: block;
        margin-left: 0 !important;
        margin-top: 10px;
    }
}
.simple-pagination {
    display: inline-block;
    font-size: 15px;
}
.simple-pagination span,
.simple-pagination a {
    display: inline-block;
    vertical-align: top;
    padding: 2px 8px;
    text-decoration: none;
}
.simple-pagination a.active {
    color: #6fbf52;
}
.product-block .rating i {
    font-size: 12px;
}
.product-block-info > *:not(:first-child):not(span) {
    margin-top: 15px;
}
.product-previews {
    float: left;
    width: 106px;
}
@media (max-width: 479px) {
    .product-previews {
        width: 80px;
    }
}
.product-previews img {
    width: 100%;
}
.product-previews-item {
    display: block;
    margin-bottom: 11px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.product-previews-item:hover {
    opacity: .7;
}
.product-block-add-to-cart {
    height: 70px;
    font-size: 18px;
    line-height: 32px;
    border-radius: 35px;
    padding-left: 50px;
    padding-right: 50px;
}
@media (max-width: 991px) {
    .product-block-add-to-cart {
        padding-right: 25px;
        padding-left: 25px;
    }
}
.product-block-add-to-cart [class*='icon'] {
    font-size: 20px;
}
.product-block-gallery {
    margin-bottom: 30px;
    overflow: hidden;
}
.product-block-mainimage {
    float: right;
    width: calc(100% - 127px);
}
@media (max-width: 479px) {
    .product-block-mainimage {
        width: calc(100% - 100px);
    }
}
.product-block-mainimage img {
    width: 100%;
}
.product-block-title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 0;
}
.product-block-price {
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    color: #4b5b68;
}
.product-block-price-comment {
    font-size: 14px;
    margin-top: 0 !important;
}
@media (max-width: 479px) {
    .btn.product-block-add-to-cart {
        width: 100%;
    }
}
@media (max-width: 479px) {
    .prd-grid {
        margin-right: 0;
        margin-left: 0;
    }
.prd-grid:not(.prd-carousel) .prd {
    width: calc(50% - 2px);
    margin-right: 1px !important;
    margin-left: 1px !important;
    height: 100%;
    min-height: 500px;
}
    .related.products .prd-grid:not(.prd-carousel) .prd {
    margin-right: 2px !important;
    margin-bottom: 30px;
    margin-left: 0px !important;
}
.prd-grid .btn {
    padding: 10px 10px 30px !important;
}
.woocommerce-page .related.products img {
    padding: 5px;
}
}
.product-block-description {
    padding: 12px 0px 25px;
}
.product-block-actions {
    margin-top: 37px !important;
}
.qty-count {
    height: 70px;
    background-color: #f5f5f5;
    display: inline-block;
    border-radius: 5px;
    margin-right: 25px;
}
.count-add,
.count-input,
.count-reduce {
    float: left;
    margin-right: -1px;
    position: relative;
    z-index: 0;
}
.count-add,
.count-reduce {
    height: 70px;
    width: 30px;
    text-align: center;
    line-height: 70px;
    color: #677d8f;
    font-size: 20px;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.count-add:hover,
.count-reduce:hover {
    color: #000;
    cursor: pointer;
}
.count-input {
    width: 57px;
    height: 70px;
    line-height: 15px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    text-align: center;
    color: #677d8f;
}
.zoomWrapper {
    position: relative;
}
.zoomContainer {
    z-index: 100;
}
.zoomLens {
    border: 1px solid #b0b0b0 !important;
}
.zoomWindowContainer > * {
    border: 2px solid #b0b0b0 !important;
}
/*-----  5. Custom Animation      --------*/
@media (min-width: 768px) {
    .image-scale {
        position: relative;
        overflow: hidden;
        display: block;
    }
    .image-scale > a {
        display: block;
        overflow: hidden;
    }
    .image-scale img {
        -webkit-transition: transform 0.4s ease-in-out 0.05s;
        -moz-transition: transform 0.4s ease-in-out 0.05s;
        -ms-transition: transform 0.4s ease-in-out 0.05s;
        -o-transition: transform 0.4s ease-in-out 0.05s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        image-rendering: optimizeQuality;
        vertical-align: middle;
        max-width: 100%;
    }
    .image-scale:hover img {
        -webkit-transform: scale3d(1.1, 1.1, 1) rotate(0.0001deg);
        transform: scale3d(1.1, 1.1, 1) rotate(0.0001deg);
    }
}
.related .prd-grid:not(.prd-carousel) .prd {
    width: calc(25% - 30px);
    float: left;
    clear:none;
}
.single-product .marker-list-arrow li,
.single-product .no-marker li{
    margin-top: 0px;
}
.single-product .marker-list-arrow li:last-child,
.single-product .no-marker li:last-child{
    border:none;
}
.woocommerce-Reviews .star-rating{
    float: left;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 10px;
    width: 5.4em;
    font-family: star;
    margin-top: 10px;
}
@media (min-width: 768px) {
    .image-scale-color {
        position: relative;
        overflow: hidden;
        display: block;
    }
    .image-scale-color > a {
        display: block;
        overflow: hidden;
    }
    .image-scale-color img {
        -webkit-transition: transform 0.4s ease-in-out 0.05s;
        -moz-transition: transform 0.4s ease-in-out 0.05s;
        -ms-transition: transform 0.4s ease-in-out 0.05s;
        -o-transition: transform 0.4s ease-in-out 0.05s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        image-rendering: optimizeQuality;
        vertical-align: middle;
        max-width: 100%;
    }
    .image-scale-color:after {
        content: '';
        background: #6fbf52;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        -webkit-transition: opacity 0.4s ease-in-out;
        -moz-transition: opacity 0.4s ease-in-out;
        -ms-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
    }
    .image-scale-color:hover:after {
        opacity: 0.2;
    }
    .image-scale-color:hover img {
        -webkit-transform: scale3d(1.1, 1.1, 1) rotate(0.0001deg);
        transform: scale3d(1.1, 1.1, 1) rotate(0.0001deg);
    }
}
@-webkit-keyframes arrowUpDown {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
    }
}
@-moz-keyframes arrowUpDown {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-10px);
    }
    60% {
        -moz-transform: translateY(-5px);
    }
}
@-o-keyframes arrowUpDown {
    0%,
    20%,
    50%,
    80%,
    100% {
        -o-transform: translateY(0);
    }
    40% {
        -o-transform: translateY(-10px);
    }
    60% {
        -o-transform: translateY(-15px);
    }
}
@keyframes arrowUpDown {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 100px;
    margin: 0;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    width: 100px;
    margin: 0;
}
.prd-sm-img img {
  max-width: 100%;
  height: auto;
}
.widget_shopping_cart_content .prd-sm {
   display: block;
}
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
    text-decoration: none;
}
.select2-container--default .select2-selection--single,
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    border: 1px solid rgba(0,0,0,.1);
}
.woocommerce form .form-row .input-checkbox {
    position: static;
}